.product-item {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border: 1px solid orangered;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  padding: 0px 10px 20px 10px;

}

.menu-head {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align : center;
  margin-top : 40px;
  margin-left: 0px;
  color : orangered;
  text-transform : uppercase;
}

a {
  text-decoration: none;
  color: white;
}
.products {
  width: 66.55%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}
a:hover {
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: orangered;
}
.zoom {
  transition:transform .2s;
}
.zoom:hover {
  transform: scale(1.5);
}
.maxScale{
  outline: none;
  overflow: hidden;
}
