*{
  padding: 0;
  margin: 0;

  z-index: 1;
  font-family: Arial, Roboto, sans-serif;
}

.header-control{
  background-color:#24292E;
  z-index: 32;
  width:100%;
  height: 60px;

}
.control-align{
  width:100%;
  height:300px;

}
.img-settings{
  float: left;

}
.img-settings img{
  position : center;
  width:50px;
  height: 50px;
  margin-top:5px;
  border-radius:100%;
  margin-left: 20px;
  margin-right: 50px;
  background-color: orangered;

}
.navigation ul{
  display: inline-flex;
  list-style: none;
  color:white;

}
.navigation ul li{
  width:99px;
  margin:25px;


}
.navigation  li a{
  color:white;
}

.navigation ul li a{
  text-decoration: none;

}
.sub-menu{
  display: none;
  z-index: 1;
}
.sub-menu ul li a{
  color:black;

}
.navigation ul li:hover .sub-menu{
  display:inline-block;
  position: absolute;
  background: white;
  margin-top:25px;
  margin-left: -15px;


}
.navigation ul li:hover .sub-menu ul{
  display:block;
  margin: 10px;
}
.ss{
  float: right;
  margin-top:10px;

  margin-right: 10px;
  color:#3F4448;
  height: 20px;

}
.signin {
  margin-left: 20px;
  color:white;
  text-decoration: none;
}
.btn{
  margin-left: 10px;
  background:orangered;
  color: white;
  height: 55px;
  width: 200px;
  border:1px solid;
  border-radius:6px;
  padding: 10px;
}
